<mat-card>
    <app-operation-page-filter [(ngModel)]="filter" (ngModelChange)="refresh(true)"></app-operation-page-filter>
    <div fxLayout="column" style="overflow: auto;">
        <app-operation-list (page)="refresh($event)" (sort)="refresh($event)" (exit)="exit($event)" [dataSource]="dataSource"></app-operation-list>
    </div>
</mat-card>
<div class="mat-fab-buttom">
    <button (click)="entry()" matTooltip="Realizar Entrada" mat-fab color="accent">
        <mat-icon>add</mat-icon>
    </button>
</div>